<!DOCTYPE html>
{% load static %}
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>歡迎來到訂餐廳網站</title>
    <link rel="shortcut icon" href="{% static 'images/index.jpg' %}" />
<style>
    .backimage{
        background-image: url("{% static 'images/index.jpg' %}");
        background-color: #cccccc;
        height: 800px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

</style>
</head>
<body class="backimage">
        <a href="{% url 'restaurants:index'%}"><p style="text-align: center;font-size: 50px">點我進去</p></a>
</body>
</html>