{% extends 'base.html' %}
{% block body %}
<h2 style="text-align: center">新增您的訂位</h2>
<hr />
<form method="POST" enctype="multipart/form-data"  style="width: 50%;margin:15px auto">
    {% csrf_token %}
    <div class="form-group row">
      <label for="restaurantid" class="col-sm-2 col-form-label col-form-label-lg">餐廳名稱</label>
      <div class="col-sm-10">
        <select class="form-control form-control-lg" name="restaurantid" id="restaurantid">
            <option value="0">請選擇</option>
            {% for restaurant in datas%} 
            <option value={{restaurant.0}}>{{restaurant.1}}-----{{restaurant.2}}</option>
            {% endfor %}
        </select> 
      </div>
    </div>
  <div class="form-group row">
    <label for="bookname" class="col-sm-2 col-form-label col-form-label-lg">訂位大名</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-lg" autocomplete="off" name="bookname" id="bookname" placeholder="請輸入訂位大名" required>
      
    </div>
  </div>
  <div class="form-group row">
    <label for="bookperson" class="col-sm-2 col-form-label col-form-label-lg">訂位人數</label>
    <div class="col-sm-10">
      <input type="number"  max="12" min="2" class="form-control form-control-lg" name="bookperson" id="bookperson" value="2">
    </div>
  </div>
  <div class="form-group row">
    <label for="booktel" class="col-sm-2 col-form-label col-form-label-lg">訂位電話</label>
    <div class="col-sm-10">
      <input type="tel" class="form-control form-control-lg" autocomplete="off" name="booktel" id="booktel" placeholder="請輸入訂位電話" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="bookdate" class="col-sm-2 col-form-label col-form-label-lg">用餐日期</label>
    <div class="col-sm-10">
      <input type="date" min ="{{now}}" max="2020-12-31" class="form-control form-control-lg" name="bookdate" id="bookdate" placeholder="請輸入訂位日期" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="bookwhen" class="col-sm-2 col-form-label col-form-label-lg">用餐日期</label>
    <div class="col-sm-10">
      <input type="time" step='900' class="form-control form-control-lg" name="bookwhen" id="bookwhen" placeholder="請輸入訂位日期" required>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary"><i class="fas fa-plus-square"></i> 我要訂位</button>
      <button type ="reset" class="btn btn-primary"><i class="fas fa-eraser"></i>我要重寫</button>
    </div>
  </div>
</form>
{% endblock %}
