{% extends "base.html" %}
{% block body %}
<h2>Restaurant Create</h2>
<hr />
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group row">
            <label for="rtype" class="col-sm-2 col-form-label col-form-label-lg">餐廳類型</label>
            <div class="col-sm-10">
              <select class="form-control form-control-lg" name="rtype" id="rtype">
                 <option value="0">請選擇</option>
                 <option value="中式">中式</option>
                 <option value="西式">西式</option>
                 <option value="日式">日式</option>
                 <option value="台式">台式</option>
                 <option value="法式">法式</option>
                 <option value="港式">港式</option>
                 <option value="其他">其他</option>
              </select> 
            </div>
          </div>
  <div class="form-group row">
    <label for="rname" class="col-sm-2 col-form-label col-form-label-lg">餐廳名稱</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-lg" name="rname" id="rname" placeholder="請輸入餐廳名稱">
    </div>
  </div>
  <div class="form-group row">
      <label for="rtel" class="col-sm-2 col-form-label col-form-label-lg">餐廳電話</label>
      <div class="col-sm-10">
        <input type="tel" class="form-control form-control-lg" name="rtel" id="rtel" placeholder="請輸入餐廳電話">
      </div>
    </div>
  <div class="form-group row">
    <label for="raddress" class="col-sm-2 col-form-label col-form-label-lg">餐廳地址</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-lg" name="raddress" id="rassress" placeholder="請輸入餐廳地址">
    </div>
  </div>
  <div class="form-group row">
    <label for="rweb" class="col-sm-2 col-form-label col-form-label-lg">餐廳網址</label>
    <div class="col-sm-10">
      <input type="url" class="form-control form-control-lg" name="rweb" id="rweb" value="https://">
    </div>
  </div>
  <div class="form-group row">
    <label for="rintroduction" class="col-sm-2 col-form-label col-form-label-lg">餐廳簡介</label>
    <div class="col-sm-10">
      <textarea class="form-control form-control-lg" name="rintroduction" id="rintroduction"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary"><i class="fas fa-plus-circle"></i> 新增</button>
    </div>
  </div>
</form>
{% endblock %}

