<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'restaurants:index' %}"><i class="fas fa-utensils"></i>餐廳列表</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'book:index' %}"><i class="fas fa-book"></i>訂位系統</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-comment"></i>會員評論</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-user"></i>會員中心</a>
    </li>
  </ul>